<% content_for :meta_title, "FAQ - Questions / Réponses - Monsieur Mode" %>
<% content_for :meta_description, "Découvrez notre FAQ pour bien comprendre le mode de fonctionnement de notre plateforme / boutique de mode pour homme" %>

<h1 class="text-center">FAQ - Questions / Réponses</h1>
<div class="container">
  <h2>Comment fonctionne Monsieur Mode Shop ?</h2>
  <p><strong>Monsieur Mode Shop</strong> est la boutique en ligne du <a href="http://www.monsieur-mode.com" target="_blank" >Blog Monsieur Mode</a>. Le principe est simple : Nous récupérons les catalogues produits de nos partenaires e-marchands via des flux en différents formats (csv, xml, api...). Ces flux peuvent provenir directement des e-commerçants mais aussi de leurs partenaires techniques. Grâce à notre vaste choix, nous vous aidons à trouver rapidement le produit qui vous convient, au meilleur prix.</p>
  <h2>Est ce que les prix et/ou les stocks sont à jour ?</h2>
  <p>Les équipes de Monsieur Mode s'efforcent de référencer le maximum d'articles de mode chaque jour et de les mettre à jour le plus souvent possible en termes de stock et de prix. Il est possible que certains prix annoncés soient erronés et nous vous prions de bien vouloir nous en excuser. Le prix définitif est le prix qui figurera sur votre facture lorsque vous aurez acheté directement chez le e-marchand partenaire. Monsieur Mode Shop ne peut en aucun cas garantir les tarifs annoncés qui sont susceptibles de changer chaque jour, et ne peut donc en aucun cas en être tenu responsable. Seuls les prix affichés sur les sites de nos partenaires sont considérés comme les prix de référence. Ces prix sont susceptibles de changer régulièrement notamment en périodes de soldes et/ou de déstockage par exemple.</p>
  <h2>Est ce que Monsieur Mode Shop est un site e-commerce ?</h2>
  <p>Monsieur Mode Shop n'est pas une boutique en ligne. Nous sommes une plateforme qui rassemble des sélections de produits autour de la mode masculine. Ces sélections sont issues de catalogies produits de nos partenaires e-commerçants, plateformes d'affiliation, fournisseurs de flux... Monsieur Mode Shop ne peut en auccun cas être tenu responsable de quelconque désagréments causés en termes d'offres, de photo, de stock ou de prix. Pour toute question sur un produit ou une marque, merci de vous référer directement au marchand partenaire, à ses CGV (Conditions Générales de Vente) et ses outils de contact (mail, téléphone, réseaux sociaux...).</p>
  <h2>Je veux acheter un article, pourquoi suis-je redirigé vers un autre site ?</h2>
  <p>Monsieur Mode Shop est une plateforme de mise en relation entre vendeurs et acheteurs. Nous vous mettons à disposition un large choix de produit ici des catalogues de marques et revendeurs partenaires dont nous avons validé le sérieux au préalable. Vous n'achetez rien directement sur notre plateforme. Dès que vous trouvez votre article idéal, vous pouvez l'acheter directement sur la boutique en ligne du e-marchand partenaire.</p>
  <h2>A qui poser une question à propos d'un produit ?</h2>
  <p>Vous pouvez à tout moment nous poser une question sur un produit, sur une marque, sur leur grille de taille... via le <a href="http://www.monsieur-mode-shop.com/contact" target="_blank" >formulaire de contact de notre site</a>. Nous vous répondrons avec plaisir et le plus sérieusement possible. Toutefois, le marchand, propriétaire du produit sera, en général le plus à même de répondre précisement à vos interrogations. Nous vous invitons donc à le contacter directement. Idem pour toute demande d'échange, d'avoir ou de remboursement (il vous est recommandé de consulter les CGV de nos partenaires avant chaque achat pour éviter toute déconvenue).</p>
  <h2>Comment se passent les échanges ? les retours ? les SAV ?</h2>
  <p>Monsieur Mode Shop n'est pas propriétaire des produits proposés. Nous ne faisons que référencer des articles de mode (vêtements, chaussures et accessoires) afin de vous faire gagner du temps dans vos choix. Pour toute demande d'échange, d'avoir ou de remboursement, merci de vous rapprocher directement du marchand et à ses conditions de retour.</p>
  <h2>Comment se passent les remboursements ?</h2>
  <p>Voir le point précédent</p>
  <h2>Comment contacter Monsieur Mode Shop par mail ?</h2>
  <p>Pour toute prise de contact, vous pouvez nous joindre en utilisant le <a href="http://www.monsieur-mode-shop.com/contact" target="_blank" >formulaire de contact de notre site</a> (visible dans le footer de cette page) ou nous envoyer un mail à contact@monsieur-mode-shop.com</p>
  <h2>Comment puis-je faire pour devenir partenaire ?</h2>
  <p>Pour être présent sur notre site, quelques petits détails doivent d'abord vous être présentés. Il vous faudra par exemple posséder un catalogue produit de votre site de vente en ligne que vous devrez nous faire partager en format csv ou xml ou directement via une api. Si vous utilisez un CMS type magento ou prestashop par exemple, il vous est possible d'exporter votre catalogue très rapidement. Si vous êtes partenaire d'une plaforme d'affiliation ou si vous exportez déjà votre catalogue sur des places de marché (type amazon ou rue du commerce par exemple) ou sur des comparateurs, vous pouvez nous transmettre ce fichier par mail et nous vous tiendrons informé de sa qualité. Pour toute question ou tout complément d'information à ce sujet, nous vous recommandons de nous contacter dès maintenant en utilisant le bouton ci-dessous :</p>
</div>
<div class="text-center">
  <%= link_to "Devenir partenaire", partenaires_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %>
</div>


