<h1 class="text-center">FAQ - Questions / Réponses</h1>
<div class="container">
  <h2>Comment fonctionne Monsieur Mode Shop ?</h2>
  <p>Monsieur Mode Shop est la boutique en ligne du blog Monsieur Mode. Le principe est simple : Nous récupérons les catalogues produits de nos partenaires e-marchands via des flux en différents formats (csv, xml, api...). Ces flux peuvent provenir directement des e-commerçant mais aussi de leurs partenaires techniques.</p>
  <h2>Est ce que les prix et/ou les stocks sont à jour ?</h2>
  <p>Les équipes de Monsieur Mode s'efforcent de référencer le maximum d'articles de mode chaque jour et de les mettre à jour le plus souvent possible en termes de stock et de prix. Il est possible que certains prix annoncés soient erronés et nous vous prions de bien vouloir nous en excuser. Monsieur Mode Shop ne peut en aucun cas garantir les tarifs annoncés et ne peut donc en aucun cas en être tenu responsable. Seuls les prix affichés sur les sites de nos partenaires sont considérés comme les prix de référence. Ces prix sont susceptibles de changer régulièrement notamment en périodes de soldes et/ou de déstockage par exemple</p>
  <h2>Est ce que Monsieur Mode Shop est un site e-commerce ?</h2>
  <p>Monsieur Mode Shop n'est pas une boutique en ligne. Nous sommes une plateforme qui rassemble des sélections de produits autour de la mode masculine. Ces sélections sont issues de catalogies produits de nos partenaires e-commerçants, plateformes d'affiliation, fournisseurs de flux... Monsieur Mode Shop ne peut en auccun cas être tenu responsable de quelconque désagréments causés en termes d'offres, de photo, de stock ou de prix. Pour toute question sur un produit ou une marque, merci de vous référer directement au marchand partenaire, à ses CGV (Conditions Générales de Vente) et ses outils de contact (mail, téléphone, réseaux sociaux..)</p>
  <h2>Je veux acheter un article, pourquoi suis-je redirigé vers un autre site ?</h2>
  <p>Voir le point précédent</p>
  <h2>A qui poser une question à propos d'un produit ?</h2>
  <p>Voir le point précédent</p>
  <h2>Comment se passent les échanges ? les retours ? les SAV</h2>
  <p>Voir le point précédent</p>
  <h2>Comment se passent les remboursements ?</h2>
  <p>Voir le point précédent</p>
  <h2>Comment puis-je faire pour devenir partenaire ?</h2>
  <p>Pour être présent sur notre site, quelques petits détails doivent d'abord vous être présentés. Il vous faudra par exemple posséder un catalogue produit de votre site de vente en ligne que vous devrez nous faire partager. Pour toute question ou tout complément d'information à ce sujet, rdv ici dès maintenant :</p>
</div>
<div class="text-center">
  <%= link_to "Devenir partenaire", partenaires_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %>
</div>


