<div class="container text-center">

  <h1>MENTIONS LÉGALES</h1>

  <strong>Propriété :</strong><br><br>

  Le présent site est la propriété de la société « Monsieur Mode ».<br>

  Monsieur Mode est géré et administré par Michaël TURCAN, rédacteur et gérant.<br><br>

  <strong>Siège social :</strong><br><br>

  Société Monsieur Mode Shop<br>

  à l'attention de Michaël TURCAN<br>

  106 Boulevard Barry<br>

  Résidence 13ème Sud<br>

  Bâtiment A1 – Bureau 115<br>

  13013 Marseille<br>

  SIRET : 53751187500016<br>

  <%= link_to "Cliquez ici pour nous contacter", contact_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %>

</div>
