<% content_for :meta_title, "Mentions légales - Monsieur Mode" %>
<% content_for :meta_description, "Découvrez les mentions légales de notre plateforme de mode homme et achetez aux meilleurx prix vos vêtements, chaussures et accessoires masculins" %>

<div class="container text-center">

  <h1>MENTIONS LÉGALES</h1>
  <strong>Propriété :</strong><br><br>
  Le présent site est la propriété du <a href="http://www.monsieur-mode.com" target="_blank" >Blog Monsieur Mode.</a><br>
  Monsieur Mode est géré et administré par <a href="https://www.linkedin.com/in/michaelturcan" target="_blank" >Michaël TURCAN.</a><br>
  Titulaire du contrat CAPE n°C451 dont l’échéance arrive à terme le 28/09/2017.<br><br>
  <strong>Siège social :</strong><br><br>

  CHEZ PCE TECH’INDUS BÂT D<br>
  645 RUE MAYOR DE MONTRICHER<br>
  13854 AIX-EN-PROVENCE CEDEX 03<br>
  N°SIRET : 423 194 307 00033 – APE 9499Z<br><br>
  <strong>Pour nous écrire :</strong><br><br>
  Monsieur Mode Shop<br>
  à l'attention de Michaël TURCAN<br>
  106 Boulevard Barry<br>
  Résidence 13ème Sud<br>
  Bâtiment A1 – Bureau 115<br>
  13013 Marseille<br>

  <%= link_to "Cliquez ici pour nous contacter", contact_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %>

</div>
