<% content_for :meta_title, "Qui Sommes-Nous by Monsieur Mode" %>
<% content_for :meta_description, "Découvrez l'histoire de Monsieur Mode et de son créateur Michaël TURCAN et profitez de nos services 100% mode masculine" %>

<div class="container padded">
  <h1>Qui sommes nous ?</h1>
  <p>Monsieur Mode Shop est lancé officiellement le 11 Mars 2016 par <a href="https://www.linkedin.com/in/michaelturcan" target="_blank" >Michaël Turcan</a>, un autodidacte qui a découvert au fur et à mesure de son parcours d'e-commerçant et de blogueur mode les multiples outils de communication qu'offrent le web.</p>
  <p>En tant qu'e-marchand dans le domaine de la mode homme, il a cherché à se faire connaître auprès de blogueurs pour gagner en visibilité. Après différents échos en retour de la part de ces médias, il a décidé de lancer lui aussi son propre blog.</p>
  <p>Aujourd'hui, grâce aux plateformes d'affiliation et à d'autres partenaires spécialisés, il peut récupérer les catalogues produits de nombreux e-commerçants et vous rassembler sur une même boutique le meilleur de la mode masculine et surtout le maximum de choix afin de vous faire gagner du temps lors de vos achats en ligne de vêtements, chaussures et accessoires.</p>
  <p>Michaël tient à remercier l'organisme de formation <a href="https://www.lewagon.com/fr/aix-marseille" target="_blank" >Le Wagon Aix Marseille</a> qui l'a aidé à mener à bien ce projet et qui lui permet encore aujourd'hui de le faire évoluer. Merci aux enseignants, assistants et étudiants qui ont participé à ce projet toujours en cours de développement : Louis, Matthieu, Mathieu, Nicolas, David, Yann et Georges.</p>
  <p>Le projet vous plaît ? Vous avez envie de rejoindre notre équipe ? Rdv tout de suite dans l'espace "<%= link_to "Recrutement", recrutement_path%>" !</p>
  <p>Et pour toute question, n'hésitez pas à nous <%= link_to "contacter", contact_path%> !</p>
</div>
