<div class="container">
<h1>Qui sommes nous ?</h1>
<p>Monsieur Mode Shop est lancé en Mars 2016 par Michaël Turcan, un autodidacte qui a découvert au fur et à mesure de son parcours d'e-commerçant et de blogueur mode les multiples outils de communication qu'offrent le web.</p>
<p>En tant qu'e-marchand dans le domaine de la mode homme, il a cherché à se faire connaître auprès de blogueurs pour gagner en visibilité. Avec différents échos en retour de la part de ces médias, il a décidé de lancer lui aussi son propre blog.</p>
<p>Aujourd'hui, grâce aux plateformes d'affiliation et à d'autres partenaires spécialisés, nous pouvons récupérer les catalogues produits de nombreux e-commerçants et vous rassembler sur une même boutique le meilleur de la mode homme et surtout le maximum de choix afin de vous faire gagner du temps lors de vos achats en ligne.</p>
<p>Michaël tient à remercier l'organisme de formation Le Wagon qui l'a aidé à mener à bien ce projet et qui lui permet encore aujourd'hui de le faire évoluer. Merci aux professeurs et étudiants qui ont participé : Louis, Matthieu, Nicolas, David, Yann et Georges.</p>
</div>
