<div class="container">

  <h1>Développeur Fullstack Ruby On Rails à Marseille</h1>
  <p><strong>CDD / Freelance</strong> - Homme / Femme - Marseille, France</p>

  <h2>Monsieur Mode Shop en 1 phrase</h2>
  <p>Monsieur Mode Shop est une plateforme entre acheteurs et vendeurs trouver rapidement des vêtements, chaussures et accessoires de mode pour confectionner votre look au meilleur prix.</p>

  <h2>Missions</h2>
  <p>Dans le cadre de la finalisation de notre V1, nous recherchons un développeur en CDD ou en freelance pour réaliser les missions suivantes :</p>
  <p>- Penser et développer l'application côté serveur,</p>
  <p>- Se porter garant des performances de l'application,</p>
  <p>- Améliorer l'ergonomie et l'UX afin de permettre un meilleur taux de transformation,</p>
  <p>- Tenir compte des contraintes techniques (standards W3C et cross browsers notamment),</p>
  <p>- Respect des standards de Responsive Web Design,</p>
  <p>- Mettre en place un site respectant les standards SEO.</p>

  <h2>Compétences requises :</h2>
  <p>- HTML5 / CSS3</p>
  <p>- Bootstrap</p>
  <p>- JavaScript / jQuery</p>
  <p>- Git / Github</p>
  <p>- Rails 4.2.5.1</p>
  <p>- Heroku</p>
  <p>- PostgreSQL</p>
  <p>- Photoshop </p>
  <p>- Trello</p>
  <p>- Slack</p>

  <h2>Le profil idéal</h2>
  <p>Passionné de développement et de l'esprit lean start-up, vous aimez partager votre expérience avec notre équipe que nous étofferons après notre première levée de fonds. Goût du challenge pour résoudre des problématiques complexes afin d'atteindre les objectifs dans les meilleurs délais.</p>

  <h2>Les avantages</h2>
  <p>Possiblité de travailler dans nos locaux sur Marseille ou à domicile dès validation des missions avec l'équipe. En rejoignant notre équipe entreprenante, jeune et dynamique, vous serez l'expert technique exécutante mais aussi force de proposition. Indemnité selon profil.</p>

<div class="container text-center"><%= link_to "Je postule", contact_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %></div>

</div>
