<div class="container">
  <br><p>Le concept de Monsieur Mode Shop vous plaît et vous souhaitez rejoindre notre équipe ? Nous recherchons sans cesse de nouveaux talents et de nouvelles compétences avec qui nous pourrions partager et faire grandir ensemble nos idées, nos projets et notre vision. Découvrez tout de suite notre dernière offre d'emploi ou soumettez nous votre CV en candidature spontanée pour rejoindre l'aventure !</p>
  <h1>Développeur Fullstack Ruby On Rails à Marseille</h1>
  <p><strong>CDD / Freelance / Stage</strong> - Homme / Femme - Marseille, France</p>

  <h2>Monsieur Mode Shop en 1 phrase</h2>
  <p>Monsieur Mode Shop est une plateforme de mise en relation entre acheteurs et vendeurs pour acheter et vendre rapidement des vêtements, chaussures et accessoires de mode homme de tout type et de toute taille afin confectionner votre look au meilleur prix.</p>

  <h2>Missions :</h2>
  <p>Dans le cadre de la finalisation de notre V1, nous recherchons un développeur pour réaliser les missions suivantes :</p>
  <p>- Penser et développer l'application côté serveur,</p>
  <p>- Développer l'import de catalogues via des flux XML, CSV et des API,</p>
  <p>- Se porter garant des performances de l'application,</p>
  <p>- Améliorer l'ergonomie et l'UX afin de permettre un meilleur taux de transformation,</p>
  <p>- Tenir compte des contraintes techniques (standards W3C et cross browsers notamment),</p>
  <p>- Respect des standards de Responsive Web Design,</p>
  <p>- Mettre en place un site respectant les standards SEO,</p>
  <p>- Finaliser les critères de tris multicritères du moteur de recherche catalogue,</p>
  <p>- Mise en place de ventes additionnelles thématiques,<p>
  <p>- Mettre en avant des produits top vente dès la page d'accueil.<p>

  <h2>Compétences requises :</h2>
  <p>- HTML5 / CSS3</p>
  <p>- Bootstrap</p>
  <p>- JavaScript / jQuery</p>
  <p>- Git / Github</p>
  <p>- Rails 4.2.5.1</p>
  <p>- Heroku</p>
  <p>- PostgreSQL</p>
  <p>- Photoshop </p>
  <p>- Trello</p>
  <p>- Slack</p>

  <h2>Le profil idéal :</h2>
  <p>Passionné de développement, d'UX et de l'esprit lean start-up, vous aimez partager votre expérience avec notre équipe que nous étofferons dès nos premiers résultats. Goût du challenge pour résoudre des problématiques simples à complexes en vue d'atteindre les objectifs des missions dans les meilleurs délais.</p>

  <h2>Les avantages :</h2>
  <p>Possiblité de travailler dans nos locaux sur Marseille (appartement confortable avec bureau et/ou canapé et terrasse mi ombre, mi soleil au choix) de 33m2, ou à domicile dès validation des différentes missions et impératifs avec l'équipe. En rejoignant notre équipe entreprenante composée d'un chef de projet, jeune, souriant et dynamique, vous serez l'expert technique exécutant mais aussi force de proposition. Indemnité selon profil.</p>

<div class="container text-center"><%= link_to "Je postule", contact_path, class: "btn navbar-wagon-button cta btn-lg margin-sm" %></div>

</div>
