.wrapper-registration {
  background: $gray-lighter;
  padding: 10px;
  margin: 95px auto;
  margin-top: 50px;
  border-radius: 12px;
}

.signin-facebook {
 padding-top: 20px;
 display: block;
}

.link-lost-psd {
  padding-top: 20px
}
