.wrapper-registration {
  background: $gray-lighter;
  padding: 50px;
  margin: 95px auto;
  border-radius: 12px;
}


.signin-facebook {
 padding-top: 100px;
 display: block;
}

.link-lost-psd {
  padding-top: 20px
}
