.section {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  // position: relative;
}

.section-filter {
  color: white;
  position: absolute;
  font-weight: lighter;
  background-color: rgba(30,30,30,0.7);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.section-content{
  color: white;
  position: relative;
  z-index: 8;
  padding-top: 100px;
  padding-bottom: 100px;
}
